/*----------------Header--------------------*/
.main_header a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.bottom_border {
  border-bottom: 1px solid #a6a6a6;
}
a {
  color: #038491;
}
/*-------------------Subscribe Section-------------------*/
.subscribe_form {
  background-color: #efeded;
  text-align: center;
  padding: 3%;
}
.subscribe_form_message {
  color: gray;
  text-align: center;
}
/*-------------------Social Section-------------------*/
.social_section {
  background-color: #f5fcfd;
  padding: 7%;
  text-align: center;
}
.social_section a {
  list-style: none;
  color: #a6a6a6;
  text-decoration: none;
  text-align: center;
  margin: 5%;
}
.social_section li:first-child {
  padding-left: 23%;
}
/*-------------------News Section-------------------*/
.news {
  background-color: #efeded;
}
.news_author_div {
  text-align: center;
}
.news_author_pic {
  border-radius: 200px;
  text-align: center;
  width:50%;
}
.news_author_name {
  text-align: center;
  color: 038491;
  padding-left: 5%;
}
.news_content_link {
  font-style: none;
  color: 038491;
}
/*-------------------Footer-------------------*/
.mainfooter {
  margin-top: 5%;
  border-top: 1px solid #a6a6a6;
  text-align: center;
  font-size: 0.750em;
  color:#a6a6a6;
  padding:2%;
}

