/*----------------Header--------------------*/
.main_header a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.bottom_border {
  border-bottom: 1px solid #a6a6a6;
}
a {
  color: #038491;
}

/*----------------Mobile Menu--------------------*/
.mobile_navigation {
  list-style: none;
  background: #ffffff;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.188em;
}
.site-wrap {
  min-height: 1000px;
  min-width: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}
label[for="nav-trigger"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 2.188em;
  height: 2.188em;
  cursor: pointer;
  background-image: url("../photos/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nav-trigger:checked + label {
    left: 245px;
}
.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.nav-trigger + label{
  transition: left 0.2s;
}
.site-wrap {
   transition: left 0.2s;
}
/*-------------------Subscribe Section-------------------*/
.subscribe_form {
  background-color: #efeded;
  text-align: center;
  padding: 3%;
}
.subscribe_form_message {
  color: gray;
  text-align: center;
}
/*-------------------Social Section-------------------*/
.social_section {
  background-color: #f5fcfd;
  padding: 7%;
  text-align: center;
}
.social_section a {
  list-style: none;
  color: #a6a6a6;
  text-decoration: none;
  text-align: center;
  margin: 5%;
}
.social_section li:first-child {
  padding-left: 23%;
}
/*-------------------News Section-------------------*/
.news {
  background-color: #efeded;
}
.news_author_div {
  text-align: center;
}
.news_author_pic {
  border-radius: 200px;
  text-align: center;
  width:50%;
}
.news_author_name {
  text-align: center;
  color: 038491;
  padding-left: 5%;
}
.news_content_link {
  font-style: none;
  color: 038491;
}
/*-------------------Footer-------------------*/
.mainfooter {
  margin-top: 5%;
  border-top: 1px solid #a6a6a6;
  text-align: center;
  font-size: 0.750em;
  color:#a6a6a6;
  padding:2%;
}

